@{
    ViewData["Title"] = "Social Networks";
}

<div class="text-center">
    <h2 class="SocialTitle">Hello, I'm Gustavo Mariano</h2>
    <hr />
    <h4>Here you can access my Social Networks and connect with me!!</h4>
</div>